.label-tips {
  width: 68%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #cccccc;
  background-color: rgb(255, 166, 166);
  padding: 20px;
  margin-left: 200px;
}

.pannel {
  display: flex;
  justify-content: space-between;
}

.label-tips label{
font-weight: medium;
}

/* .lable-tips-open {
width: 100%;
position: absolute;
top: 0;
left: 0;
margin-top: 55px;
border: 2px solid #cccccc;
} */

.label-tips-img {
width: 100%;
border: 2px solid #cccccc;
}

.dropdown-btn {
background-color: transparent;
border:none;
font-size: 25px;
color: #4C9346;
}

.dropdown-btn:hover {
  cursor: pointer;
  }
  
.bottom {
  margin-bottom: 500px;
  background-color: red;
}
  




