.label-tips {
  width: 68%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #cccccc;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-left: 200px;
}

.pannel {
  display: flex;
  justify-content: space-between;
}

.label-tips label{
font-weight: medium;
}

.label-tips-img {
margin-top: 20px;
width: 100%;
border-top: 2px solid #cccccc;
}

.dropdown-btn {
background-color: transparent;
border:none;
font-size: 25px;
color: #4C9346;
}

.dropdown-btn:hover {
  cursor: pointer;
}
  

  




