
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;800&display=swap');

.navbar {
    background-color: #F9F9F9;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    max-width: 1500px;
  }
  
  .navbar-logo {
    color:#232323;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }

  .fa-recycle {
    color:#232323;
    font-size: 30px;
  }

  .eco-name {
    color: #232323;
    margin-left: 10px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
  }

  .check-name {
    color: #4C9346;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: start;
    margin-right: 2rem;
  }
  
  .nav-item {
    height: 20px;
  }
  
  .nav-links {
    color: #232323;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0rem 1rem;
    height: 100%;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }
  
  .nav-links:hover {
    color: #4C9346;
  }
  
 

  
